.git
node_modules
.output
.nitro
.tanstack
.vinxi
pb_data
pb_public
gotc
.tools
docs
*.log
.vscode
.env
.env.*
pb_hooks/pocketbase
pb_hooks/pocketbase.exe
pb_hooks/buchung
pb_hooks/*.db
pb_hooks/pb_data

pb_hooks/pb_public
pb_hooks/buchung.exe
pb_hooks/buchung
